@import '../../assets/styles/sass/resources';

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .videosCarousel {
    margin-bottom: 2rem;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .videos {
      margin: 3rem 0 1rem 0;
    }
  }
}
