@import '../../assets/styles/sass/resources';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;

  .description {
    margin-top: 3rem;
  }

  .skillsGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 74vh;

    .skillsCards {
      .skillsCard {
        margin: 0.5rem 1.5rem;
        box-shadow: 0 0 1rem
          var(--color-container-shadow, $color-container-shadow);
      }
    }
  }
}
