@import '../../../assets/styles/sass/resources';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-on-background, $color-on-background);
  box-shadow: 0 0 2rem var(--color-container-shadow, $color-container-shadow);
  padding: 0 0rem;
  margin: 0.5rem 1.75rem;

  .video {
  }

  .info {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--color-gray-light, $color-gray-light);
    background-color: var(--color-on-background, $color-on-background);
    color: var(--color-on-background-alt, $color-on-background-alt);
    padding: 1rem 0 1.5rem 0;
    width: 100%;
    text-align: center;

    .title {
      font-size: var(--text-h6, $text-h6);
      font-weight: bold;
    }

    .description {
      padding: 1rem 0 0 0;
    }
  }
}
