@import '../../assets/styles/sass/resources';

.container {
  .chart {
    .texts {
      .textWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        @include tablet-up {
          text-align: left;
        }

        .textValue {
          font-size: var(--text-h4, $text-h4);

          @include tablet-up {
            font-size: var(--text-body, $text-body);
          }

          @include desktop-up {
            font-size: var(--text-description, $text-description);
          }
        }

        .text {
          color: var(--color-on-background, $color-on-background);
          fill: var(--color-on-background, $color-on-background);
          font-size: var(--text-body, $text-body);

          @include tablet-up {
            font-size: 0.9rem;
          }

          @include desktop-up {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
