@import '../../assets/styles/sass/resources';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background, $color-background);

  .containerHeader {
    min-height: max(768px, 100vh);
    height: max(768px, 100vh);
    width: 100vw;
    position: relative;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .section {
      @include desktop-up {
        width: 80vw;
      }
    }
  }

  .buttonToTop {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;

    @include tablet-up {
    }
  }
}
