@import '../../assets/styles/sass/resources';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .content {
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include tablet-up {
      padding: 5rem 0 4rem 0;
    }

    .description {
    }

    .blogPostGroup {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem 0;
      border-bottom: 1px dashed var(--color-gray-light, $color-gray-light);
      margin-bottom: 2rem;

      @include tablet-up {
        padding: 4rem 0;
      }

      .blogPostCards {
        .blogPostCard {
          margin: 0.5rem 1.5rem;
          box-shadow: 0 0 1rem
            var(--color-container-shadow, $color-container-shadow);
        }
      }
    }
  }
}
