@import '../../../assets/styles/sass/resources';

.container {
  display: block;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  background-color: var(--color-gray, $color-gray);
  margin: 0rem 1rem;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    background-color: var(--color-accent-alpha, $color-accent-alpha);
  }

  &[data-active='true'] {
    height: 3.2rem;
    width: 3.2rem;
    background-color: var(--color-accent, $color-accent);

    &:hover {
      background-color: var(--color-accent-active, $color-accent-active);
    }
  }
}
