@import '../../assets/styles/sass/resources';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tablet-up {
    justify-content: center;
  }
  .navbar {
  }
}
